@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");





.button {
    float: left;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: rgba(19, 47, 187, 0.08);
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.button a{
    color: black;
    text-decoration: none;
}

.button:hover{

    transform: rotate(360deg);
}




.button:nth-child(1):hover .icon {
    background: #e1306c;
}

.button:nth-child(2):hover .icon {
    background: #4267b2;
}

.button:nth-child(3):hover .icon {
    background: #1da1f2;
}

.button:nth-child(4):hover .icon {
    background: #0e76a8;
}

.button:nth-child(5):hover .icon {
    background: #ff0000;
}

.button:nth-child(6):hover .icon {
    background: #333;
}

.button:nth-child(1) span {
    color: #e1306c;
}

.button:nth-child(2) span {
    color: #4267b2;
}

.button:nth-child(3) span {
    color: #1da1f2;
}

.button:nth-child(4) span {
    color: #0e76a8;
}

.button:nth-child(5) span {
    color: #ff0000;
}

.button:nth-child(6) span {
    color: #333;
}

.button .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

.button .icon i {
    font-size: 30px;
    line-height: 70px;
    transition: all 0.3s ease-in-out;
}

.button:hover i {
    color: #fff;
}

@media only screen and (min-width: 0px) and (max-width:370px ) {


    .button {
        float: left;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: rgba(19, 47, 187, 0.08);
        overflow: hidden;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }


    .button .icon {
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 15px;
    }
    .button .icon i {
        font-size: 20px;
        line-height: 40px;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (min-width: 371px) and (max-width:400px ) {


    .button {
        float: left;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: rgba(19, 47, 187, 0.08);
        overflow: hidden;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }


    .button .icon {
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
    }
    .button .icon i {
        font-size: 20px;
        line-height: 50px;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (min-width: 401px) and (max-width:500px ) {


    .button {
        float: left;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: rgba(19, 47, 187, 0.08);
        overflow: hidden;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }


    .button .icon {
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 18px;
    }
    .button .icon i {
        font-size: 21px;
        line-height: 50px;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (min-width: 501px) and (max-width:720px ) {


    .button {
        float: left;
        width: 70px;
        height: 70px;
        cursor: pointer;
        background: rgba(19, 47, 187, 0.08);
        overflow: hidden;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }


    .button .icon {
        width: 70px;
        height: 70px;
        text-align: center;
        border-radius: 50px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 20px;
    }
    .button .icon i {
        font-size: 25px;
        line-height: 70px;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (min-width: 721px) and (max-width:1200px ) {


    .button {
        float: left;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background: rgba(19, 47, 187, 0.08);
        overflow: hidden;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    }


    .button .icon {
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50px;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        font-size: 20px;
    }
    .button .icon i {
        font-size: 25px;
        line-height: 60px;
        transition: all 0.3s ease-in-out;
    }
}